.DS_Store
EcologySite/.idea/.idea.EcologySite/.idea/indexLayout.xml
EcologySite/.idea/.idea.EcologySite/.idea/projectSettingsUpdater.xml
EcologySite/.idea/.idea.EcologySite/.idea/vcs.xml
EcologySite/.idea/.idea.EcologySite/.idea/workspace.xml
