.DS_Store
EcologySite/.idea/.idea.EcologySite/.idea/indexLayout.xml
EcologySite/.idea/.idea.EcologySite/.idea/projectSettingsUpdater.xml
EcologySite/.idea/.idea.EcologySite/.idea/vcs.xml
EcologySite/.idea/.idea.EcologySite/.idea/workspace.xml
/EcologySite/.idea/.idea.EcologySite/.idea/shelf/Uncommitted_changes_before_Update_at_12_11_24,_16_54_[Changes]/Ecology.Data.AssemblyInfoInputs.cache
/EcologySite/.idea/.idea.EcologySite/.idea/shelf/Uncommitted_changes_before_Update_at_12_11_24,_16_54_[Changes]/Ecology.Data.AssemblyInfoInputs.cache
/EcologySite/.idea/.idea.EcologySite/.idea/shelf/Uncommitted_changes_before_Update_at_12_11_24,_16_54_[Changes]/Ecology.Data.Fake.AssemblyInfoInputs.cache
/EcologySite/.idea/.idea.EcologySite/.idea/shelf/Uncommitted_changes_before_Update_at_12_11_24,_16_54_[Changes]/Ecology.Data.Interface.AssemblyInfoInputs.cache
/EcologySite/.idea/.idea.EcologySite/.idea/shelf/Uncommitted_changes_before_Update_at_12_11_24,_16_54_[Changes]/EcologySite.AssemblyInfoInputs.cache
/EcologySite/.idea/.idea.EcologySite/.idea/shelf/Uncommitted_changes_before_Update_at_12_11_24,_16_54_[Changes]/Ecology.Data.Interface.AssemblyInfoInputs.cache
/EcologySite/.idea/.idea.EcologySite/.idea/shelf/Uncommitted_changes_before_Update_at_12_11_24,_16_54_[Changes]/Ecology.Data.Fake.AssemblyInfoInputs.cache
/EcologySite/.idea/.idea.EcologySite/.idea/shelf/Uncommitted_changes_before_Update_at_12_11_24,_16_54_[Changes]/Ecology.Data.AssemblyInfoInputs.cache
/EcologySite/.idea/.idea.EcologySite/.idea/shelf/Uncommitted_changes_before_Update_at_12_11_24,_23_44_[Changes]/Ecology.Data.Fake4.dll
/EcologySite/.idea/.idea.EcologySite/.idea/shelf/Uncommitted_changes_before_Update_at_12_11_24,_23_44_[Changes]/Ecology.Data.Fake4.dll
EcologySite/.idea/.idea.EcologySite/.idea/shelf/Uncommitted_changes_before_Update_at_12_11_24,_23_44_[Changes]
*.cache
*.dll
*.info
*.pdb
*.patch
EcologySite/Ecology.Data/bin/Debug/net8.0
EcologySite/Ecology.Data/obj
EcologySite/Ecology.Data.Fake/bin
EcologySite/Ecology.Data.Fake/obj
EcologySite/Ecology.Data.Interface/bin
EcologySite/Ecology.Data.Interface/obj
EcologySite/EcologySite/bin
EcologySite/EcologySite/obj/Debug/net8.0/staticwebassets
EcologySite/EcologySite/obj/Debug/net8.0
EcologySite/EcologySite/obj
/EcologySite/EcologySite.sln.DotSettings.user
/EcologySite/.idea/.idea.EcologySite/.idea/shelf/Uncommitted_changes_before_Update_at_12_11_24__16_54__Changes_.xml
/EcologySite/.idea/.idea.EcologySite/.idea/shelf/Uncommitted_changes_before_Update_at_12_11_24__23_44__Changes_.xml
/EcologySite/Enums/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/EcologySite/Enums/obj/Enums.csproj.nuget.dgspec.json
/EcologySite/Enums/obj/Enums.csproj.nuget.g.props
/EcologySite/Enums/obj/Enums.csproj.nuget.g.targets
/EcologySite/Enums/obj/Debug/net8.0/Enums.GeneratedMSBuildEditorConfig.editorconfig
/EcologySite/Enums/obj/Debug/net8.0/Enums.GlobalUsings.g.cs
/EcologySite/Enums/obj/project.assets.json
/EcologySite/Enums/obj/project.packagespec.json
