@using EcologySite.Models.Auth
@model LoginUserViewModel

<form method="post">
    <div>
        @Html.TextBoxFor(x => x.UserName, new { placeholder = "login" })
    </div>
    <div>
        @Html.TextBoxFor(x => x.Password, new { @type = "password", placeholder = "password" })
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>